.advantage{
    min-height: 1334px;
    padding: 81px 0 80px 0;
    &__header{
        font-size: 30px;
        font-weight: 900;
        line-height: 1.2;
        text-align: center;
        color: #393939;
      
    }
    &__wrapper{
        margin-top:44px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item{
        width: 570px;
        height: 355px;
        &_1{
            background: url('../img/bgr_advantage_1.jpg')center center/cover no-repeat;
        }
        &_2{
            background: url('../img/bgr_advantage_2.jpg')center center/cover no-repeat;
        }
        &_3{
            background: url('../img/bgr_advantage_3.jpg')center center/cover no-repeat;
        }
        &_4{
            background: url('../img/bgr_advantage_4.jpg')center center/cover no-repeat;
        }
        &_5{
            background: url('../img/bgr_advantage_5.jpg')center center/cover no-repeat;
        }
        &_6{
            background: url('../img/bgr_advantage_6.jpg')center center/cover no-repeat;
        }
    }
    &__text{
        height: 156px;
        font-size: 23px;
        line-height: 1.13;
        text-align: center;
        padding: 39px  0 ;
        margin-top: 100px;
        color: #ffffff;
        background-color: rgba(0,0,0,0.5);
        transition: 0.5s all;
        &:hover{
            background-color:rgba(0,0,0,0.7);
            margin-top: 0;
            height: 100%;
            padding: 140px 0 0 0 ;

        }
    }
    
   

}